*
{
	font-family: 'Poppins', sans-serif;
}

a:link {
	color: skyblue;
	text-decoration: none;
}

a:visited {
	color: gray;
	text-decoration: none;
}

span {
	color: skyblue;
	text-decoration: underline;
	font-weight: normal;
}