*
{
	font-family: 'Poppins', sans-serif;
}

a:link {
	color: skyblue;
	text-decoration: none;
}

a:visited {
	color: gray;
	text-decoration: none;
}

span {
	color: skyblue;
	text-decoration: underline;
	font-weight: normal;
}

.container {
	background-color: #A5A5A5;
	padding: 20px;
	margin: 10vw;
	border-radius: 10px;
}

.container__h2 {
	color: #FFFFFF;
}

.ul-li {
	background-color: #F0F0F0;
	padding: 40px;
	margin: 10vw;
	border-radius: 10px;
	overflow: visible;
}

.version {
	text-align: center;
}