:root {
    --darkcolor: #50003E;
    --middlecolor: #D4009B;
    --lightcolor: #FFEAFA;
}

/* FILING */
.filing {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--darkcolor);
}

.filing__picture {
    max-width: 50%;
    flex-grow: 1;
}

.filing__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filing__message {
    max-width: 45%;
    flex-grow: 1;
    font-size: 3rem;
}

/* SECTION */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:10%;
    margin-top: 50px;
}

.section__block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 35px;
    width: 45%;
    margin-bottom: 50px;
}

.section__block:last-child {
    width: 100%;
    flex-grow: 2;
}

.section__title {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--darkcolor);
    font-size: 1.5rem;
    font-weight: 700;
}

.section__divline {
    flex-grow: 1;
    height: 1px;
    background-color: var(--darkcolor);
}

.section__divline:first-child {
    flex-shrink: 0;
    max-width: 50px;
}

.section__divline:last-child {
    flex-grow: 1;
}

.section__content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #EEE;
    border: 1px solid var(--darkcolor);
    border-radius: 5px;
}

.section__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--darkcolor);

}

.section__column {
    height: 100%;
    color: var(--darkcolor);
}

.section__column:first-child {
    padding: 20px 15px;
    width: 30%;
    border: none;
    outline: none;
    background-color: var(--lightcolor);
    border-right: 1px solid var(--darkcolor);
}

.section__column:last-child {
    width: 70%;
    background-color: #FFF;
}

.lnk__link,
.lnk__pdf {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    border: none;
    outline: none; 
    cursor: pointer;
}


/* FOLDERS */ 

.folder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 325px;
    grid-auto-rows: 325px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 35px;
}

.folder__block {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: 1px solid var(--darkcolor);
    border-radius: 5px;
    overflow: hidden;
}

.folder__a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.folder__img {
    position: relative;
    top: -10%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.folder__description {
    position: relative;
    top: -40%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    height: 40%;
    padding: 25px 20px;
    color: var(--darkcolor);
    background-color: var(--lightcolor);
}

.folder__name {
    font-size: 1rem;
    font-weight: 700;
}


.folder__password {
    font-size: .8rem;
}



@media screen AND (max-width: 900px) {
     /* FILING */
     .filing__message {
        font-size: 2.5rem;
     }

     /* SECTION */

     .section { 
        flex-direction: column;
        flex-wrap: nowrap;
     }

     .section__block {
        width: 100%;
     }

}

@media screen AND (max-width: 768px) {
    /* FILING */

    .filing {
        flex-direction: column-reverse;
    }

    .filing__picture {
        max-width: 100%;
    }

    .filing__message {
        max-width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    /* FOLDER */

    .folder {
        justify-content: center;
    }
}

@media screen AND (max-width: 545Px) {
     /* FILING */

     .filing__message {
        font-size: 2.25rem;
    }
}

@media screen AND (max-width: 425px) {
     /* FILING */

     .filing__message {
        font-size: 1.75rem;
    }

    /* SECTION */

    .section__divline:first-child {
        flex-shrink: 1;
    }

    .section__divline {
        max-width: 100%;
    }

    /* FOLDER */ 

    .folder {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: 300px;
        grid-auto-rows: 300px;
        gap: 20px;
    }



}