/*HEADER - NAV*/

	/*HEADER*/

header {
	display: grid;
	position: fixed;
	z-index: 1;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(14px);
	grid-template-columns: 500px 1fr;
	grid-template-rows: 100px;
	align-items: center;
}

.header-logo {
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.header-logo span {
	font-size: 30px;
	font-family:'Fredoka One', cursive;
	font-weight: 500;
}


	/*NAV*/

.header-div {
	display: grid;
	position: fixed;
	z-index: 1;
	width: 100%;
	grid-template-columns: 500px 1fr;
	grid-template-rows: 100px;
	align-items: center;
}

.header-nav {
	display: flex;
	height: 100%;
	font-size: 21px;
	justify-content: space-evenly;
	align-items: center;
}

.header-nav a {
	text-decoration: none;
	color: #FFF;
	border-bottom: 2px solid;
}

.header-nav a:hover {
	text-decoration: none;
	font-weight: bold;
	border-bottom: 4px solid;
}

	/*MAIN:CONTENT-SECTION*/

.content-section {
	display: block;
	margin: 35px;
	min-width: 250px;
	max-width: 605px;
	transition: margin .5s;
}

/*MEDIA - 350PX < < 700PX*/

@media screen and (min-width: 350px) and (max-width: 700px) {

/*HEADER - NAV*/

	/*HEADER*/

header {
	display: block;
	position: absolute;
	z-index: 2;
	height: 85px;
	background: transparent;
}

.header-logo {
	display: grid;
	grid-template-columns: 120px 1fr;
	position: relative;
	height: 85px;
	width: 100%;
	justify-content: space-evenly;
	justify-items: center;
	align-items: center;
}

.header-logo img {
	height: 70%;
}

.header-logo span {
	text-align: center;
}

	/*NAV*/

.header-div {
	display: grid;
	position: sticky;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(14px);
	grid-template-columns: 1fr;
	grid-template-rows: 85px 45px;
	top: -85px;
	justify-content: space-evenly;
	align-items: center;
}

}

/*MEDIA - 350PX <*/

@media screen and (max-width: 350px) {

/*HEADER - NAV*/

	/*HEADER*/

header {
	display: block;
	position: absolute;
	z-index: 2;
	height: 85px;
	background: transparent;
}

.header-logo {
	display: flex;
	position: relative;
	height: 85px;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.header-logo img {
	height: 65%;
}

.header-logo span {
	font-size: 25px;
	text-align: center;
	font-weight: 500;
	width: 150px;
}

	/*NAV*/

.header-div {
	display: grid;
	position: sticky;
	background: rgba(0, 0, 0, .3);
	backdrop-filter: blur(14px);
	grid-template-columns: 1fr;
	grid-template-rows: 85px 45px;
	top: -85px;
	justify-content: space-evenly;
	align-items: center;
}

.header-nav {
	position: sticky;
	height: 55px;
	width: 100%;
}

}