/*GENERAL*/

* {
	font-family: 'Poppins', sans-serif;
	color: #FFF;
}

/*BODY*/

body {
	background-color: #1B2631;
}

/*MAIN*/

	/*LINKS DEL MAIN*/

main a:link {
	color: #7D3C98;;
	text-decoration: none;
}

main a:visited {
	color: #2E86C1;
	text-decoration: none;
}

	/*CONTENIDO DEL MAIN*/

main {
	position: relative;
	top: 100px;
}

.content {
	width: calc(100vw - 17px);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin: auto;
	padding: 35px 0;
}

	/*MAIN:CONTENT-SECTION*/

.content-section {
	display: flex;
	margin: 35px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	min-width: 250px;
	max-width: 605px;
	/*height: 75vh;*/
	transition: margin .5s;
}

	/* MAIN: CONTENT-SECTION__TITLE */


.content-section__title {
	background: rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 10px 0;
	border: 2px solid #1A5276;
	width: 100%;
}

.content-section__title-h2 {
	color: #FFF;
	text-align: center;
}

	/* MAIN: CONTENT-SECTION__IFRAME */

.content-section__iframe {
	background: rgba(0, 0, 0, 0.3);
	margin: 10px 0;
	height: 340.625px;
	width: 100%;
	border: 2px solid #1A5276;
}

.content-section__iframe iframe {
	height: 100%;
	width: 100%;
}


/* MAIN:CONTENT-SECTION__TEXT */

.content-section__text {
	background: rgba(0, 0, 0, 0.3);
	padding: 20px 20px;
	margin: 10px 0;
	width: 100%;
	border: 2px solid #1A5276;
	overflow: auto;
	text-align: justify;
}

.content-section__submit {
	display: flex;
	padding: 10px;
	width: 100%;
	justify-items: space-evenly;
	align-items: center;
	background-color:  rgba(0, 0, 0, .25);
	border: 2px solid #1A5276;
}

.content-section__submit img {
	flex-grow: 1;
	margin: 0 10px 0 0;
	height: 40px;
	width: 40px;
}

.content-section__submit span {
	flex-grow: 2;
	margin: 0 0 0 10px;
	text-align: justify;
}


/*FOOTER*/

footer {
	display: flex;
	border-top: 5px solid #111;
	background: #17202A;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 120px;
	top: 100px;
}

.version {
	color: #fff;
	text-align: center;
	line-height: 1.5;
	font-size: 16px;
	transition: all 0.5s;
}

.version:hover {
	letter-spacing: 4px;
}

/*MEDIA - 350PX < < 700PX*/

@media screen and (min-width: 350px) and (max-width: 700px) {

/*MAIN*/

	/*CONTENIDO DEL MAIN*/

main {
	top: 0;
}

.content {
	width: calc(100vw - 17px);
	padding: 15px 0;
}

	/*MAIN:CONTENT-SECTION*/

.content-section {
	margin: 0 10px 25px;
}

	/*MAIN:CONTENT-SECTION__TITLE*/

.content-section__title {
	padding: 17px;
}

.content-section__title-h2 {
	font-size: 20px;
}

	/*MAIN:CONTENT-SECTION__IFRAME*/

.content-section__iframe {
	height: 295.3125px;
}

/*FOOTER*/

footer {
	top: 0;
}

.version {
	padding: 15px;
}

}

/*MEDIA - 350PX <*/

@media screen and (max-width: 350px) {

/*MAIN*/

	/*CONTENIDO DEL MAIN*/

main {
	top: 0;
}

.content {
	width: calc(100vw - 2px);
	padding: 5px 0;
}

	/*MAIN:CONTENT-SECTION*/

.content-section {
	margin: 0 10px 20px;
}

	/*MAIN:CONTENT-SECTION__TITLE*/

.content-section__title {
	padding: 15px;
}

.content-section__title-h2 {
	font-size: 20px;
}

	/*MAIN:CONTENT-SECTION__IFRAME*/

.content-section__iframe {
	height: 196.875px;
}

/*FOOTER*/

footer {
	top: 0;
}

.version {
	padding: 15px;
}

}

